.champion_columns{
	column-count: 8;
}

.champ-name {
	padding-top: 10px;
	padding-left: 20px;
	padding-bottom: 30px;
}

.champ-image{
	padding-top: 20px;
	margin-left: 10px;
	padding-right: : 20px;
}

.test{
	color: white;
}