{{extend 'layout.html'}}

{{block head}}

<script src="{{=URL('static', 'js/vue.js')}}"></script>
<link href="{{=URL('static','css/champions-introduction.css')}}" rel="stylesheet" type="text/css"/>



{{end}}

<div id="vue-div" class="champions introduction container">

		<div class="content_header">

			<div class="champion-image">
					<div class="half">
            			<img src="../static/images/champions/Aatrox.jpg">
            		</div>
        	</div>

            <div class="champion-description">
            	<ul> Abilities</ul>
            		<li>Blood Well</li>
            		<li>Dark Flight</li>
            		<li>Blood Thirst / Blood Price</li>
            		<li>Blades of Torment</li>
            		<li>Massacre</li>
            </div>
                    
                <div class="content_header_description">
                   
                	<p>nothing3</p>

                </div>
            </div>    
        </div>


    

   
    

         
</div>



<script src="{{=URL('static', 'js/default_index.