{{extend 'layout.html'}}

{{block head}}

<script src="{{=URL('static', 'js/vue.js')}}"></script>
<link href="{{=URL('static','css/about.css')}}" rel="stylesheet" type="text/css"/>

{{end}}

<div id="vue-div" class="main content">

    <div class="about-header">
       <p class="title_about">ABOUT&nbsp;</p>
      <p class="title_us">&nbsp;US</p>
    </div>

    <div class="header-description">
        <p>We are two fanatical LOL fans.</p>
    </div>



    <div class="the_team">
                <p>THE&nbsp;TEAM</p>
            </div>
            
            <div class="team_profile">
                
                
                <div class="team_member">
                   
                            
                    <div class="member_name">
                        <p>Yang Chen</p>
               
                       
                    </div>
                    
                    <div class="member_title">
                        <p>Back-end Developer</p>
                    </div>
                    
                </div>
   
                <div class="team_member">
                   
                    
                    <div class="member_name">
                        <p>Jinghao Hao</p>
                    
                     
                    </div>
                    
                    <div class="member_title">
                        <p>Front-end Developer</p>
                    </div>

                </div>
            </div>

          

            <form action="/start1/default/about" method="post" class="contact_us">
                <div class="contact_us_title">
                    <p>CONTACT&nbsp;US</p>
                </div>
                
                <div class="contact_us_address">
                    <p>1156 High St, Santa Cruz, CA 95064</p>
                </div>
                
                <div class="contact_us_information">
                    <input type="text" name = "email" placeholder="Email*"><br/>
                    <input type="text" name = "name" placeholder="Name*"><br/>
                    <input type="text" name = "subject" placeholder="Subject"><br/>
                    <input type="textarea" name = "message" placeholder="Message"><br/>
                </div>
                
                <div class="contact_us_submit">
                    <input type="submit" value="SUBMIT">
                </div>
                
            </form>


</div>



<script src="{{=URL('static', 'js/default_index.js')}}"></script>
