{{extend 'layout.html'}}

{{block head}}

<script src="{{=URL('static', 'js/vue.js')}}"></script>
<link href="{{=URL('static','css/champions.css')}}" rel="stylesheet" type="text/css"/>



{{end}}

<div id="vue-div" class="champions container">

<!---------------------------------------------------------------------------------------------
  !-->

    <div class="champion_columns">
         
            <div class="Aatrox">
                <div class="champ-image">
                     <img src="../static/images/icon/aaron.png">
                </div>
                <div class="champ-name">
                     <a href="{{=URL('default', 'aatrox')}}">Aatrox</a>
                </div>
            </div>

            <div class="Ahri">
                <div class="champ-image">
                     <img src="../static/images/icon/ahri.png">
                </div>
                <div class="champ-name">
                     <a href="{{=URL('default', 'ahri')}}">Ahri</a>
                </div>
            </div>

            <div class="Akali">
                <div class="champ-image">
                     <img src="../static/images/icon/akali.png">
                </div>
                <div class="champ-name">
                     <a href="{{=URL('default', 'akali')}}">Akali</a>
                </div>
            </div>

            <div class="Alistar">
                <div class="champ-image">
                     <img src="../static/images/icon/alistar.png">
                </div>
                <div class="champ-name">
                     <a href="{{=URL('default', 'alistar')}}">Alistar</a>
                </div>
            </div>

            <div class="Amumu">
                <div class="champ-image">
                     <img src="../static/images/icon/amumu.png">
                </div>
                <div class="champ-name">
                     <a href="{{=URL('default', 'amumu')}}">Amumu</a>
                </div>
            </div>

            <div class="Anivia">
                <div class="champ-image">
                     <img src="../static/images/icon/anivia.png">
                </div>
                <div class="champ-name">
                     <a href="{{=URL('default', 'anivia')}}">Anivia</a>
                </div>
            </div>

            <div class="Annie">
                <div class="champ-image">
                     <img src="../static/images/icon/annie.png">
                </div>
                <div class="champ-name">
                     <a href="{{=URL('default', 'Annie')}}">Annie</a>
                </div>
            </div>

            <div class="Ashe">
                <div class="champ-image">
                     <img src="../static/images/icon/ashe.png">
                </div>
                <div class="champ-name">
                     <a href="{{=URL('default', 'ashe')}}">Ashe</a>
                </div>
            </div>
   
    </div>




    <div class="champion_columns">
         
            <div class="aurelion_sol">
                <div class="champ-image">
                     <img src="../static/images/icon/aurelion_sol.png">
                </div>
                <div class="champ-name">
                     <a href="{{=URL('default', 'aurelion_sol')}}">Aurelion Sol</a>
                </div>
            </div>

            <div class="Azir">
                <div class="champ-image">
                     <img src="../static/images/icon/Azir.png">
                </div>
                <div class="champ-name">
                     <a href="{{=URL('default', 'Azir')}}">Azir</a>
                </div>
            </div>

            <div class="Bard">
                <div class="champ-image">
                     <img src="../static/images/icon/Bard.png">
                </div>
                <div class="champ-name">
                     <a href="{{=URL('default', 'Bard')}}">Bard</a>
                </div>
            </div>

            <div class="Bli">
                <div class="champ-image">
                     <img src="../static/images/icon/Bli.png">
                </div>
                <div class="champ-name">
                     <a href="{{=URL('default', 'Bli')}}">Blitzcrank</a>
                </div>
            </div>

            <div class="Brand">
                <div class="champ-image">
                     <img src="../static/images/icon/Brand.png">
                </div>
                <div class="champ-name">
                     <a href="{{=URL('default', 'Brand')}}">Brand</a>
                </div>
            </div>

            <div class="Braum">
                <div class="champ-image">
                     <img src="../static/images/icon/Braum.png">
                </div>
                <div class="champ-name">
                     <a href="{{=URL('default', 'Braum')}}">Braum</a>
                </div>
            </div>

            <div class="Cait">
                <div class="champ-image">
                     <img src="../static/images/icon/Cait.png">
                </div>
                <div class="champ-name">
                     <a href="{{=URL('default', 'Cait')}}">Caitlyn</a>
                </div>
            </div>

            <div class="Camile">
                <div class="champ-image">
                     <img src="../static/images/icon/Camile.png">
                </div>
                <div class="champ-name">
                     <a href="{{=URL('default', 'Camile')}}">Camille</a>
                </div>
            </div>
   
    </div>


<div class="champion_columns">
         
            <div class="Cassi">
                <div class="champ-image">
                     <img src="../static/images/icon/Cassi.png">
                </div>
                <div class="champ-name">
                     <a href="{{=URL('default', 'Cassi')}}">Cassiopeia</a>
                </div>
            </div>

            <div class="Cho-Gah">
                <div class="champ-image">
                     <img src="../static/images/icon/Cho-Gah.png">
                </div>
                <div class="champ-name">
                     <a href="{{=URL('default', 'Cho-Gah')}}">Cho'Gah</a>
                </div>
            </div>

            <div class="Corki">
                <div class="champ-image">
                     <img src="../static/images/icon/Corki.png">
                </div>
                <div class="champ-name">
                     <a href="{{=URL('default', 'Corki')}}">Corki</a>
                </div>
            </div>

            <div class="Darius">
                <div class="champ-image">
                     <img src="../static/images/icon/Darius.png">
                </div>
                <div class="champ-name">
                     <a href="{{=URL('default', 'Darius')}}">Darius</a>
                </div>
            </div>

            <div class="Diana">
                <div class="champ-image">
                     <img src="../static/images/icon/Diana.png">
                </div>
                <div class="champ-name">
                     <a href="{{=URL('default', 'Diana')}}">Diana</a>
                </div>
            </div>

            <div class="Draven">
                <div class="champ-image">
                     <img src="../static/images/icon/Draven.png">
                </div>
                <div class="champ-name">
                     <a href="{{=URL('default', 'Draven')}}">Draven</a>
                </div>
            </div>

            <div class="Ekko">
                <div class="champ-image">
                     <img src="../static/images/icon/Ekko.png">
                </div>
                <div class="champ-name">
                     <a href="{{=URL('default', 'Ekko')}}">Ekko</a>
                </div>
            </div>

            <div class="Mundo">
                <div class="champ-image">
                     <img src="../static/images/icon/Mundo.png">
                </div>
                <div class="champ-name">
                     <a href="{{=URL('default', 'Mundo')}}">Mundo</a>
                </div>
            </div>
   
    </div>

    <div class="champion_columns">
         
            <div class="Elise">
                <div class="champ-image">
                     <img src="../static/images/icon/Elise.png">
                </div>
                <div class="champ-name">
                     <a href="{{=URL('default', 'Elise')}}">Elise</a>
                </div>
            </div>

            <div class="Evelynn">
                <div class="champ-image">
                     <img src="../static/images/icon/Evelynn.png">
                </div>
                <div class="champ-name">
                     <a href="{{=URL('default', 'Evelynn')}}">Evelynn</a>
                </div>
            </div>

            <div class="Ezreal">
                <div class="champ-image">
                     <img src="../static/images/icon/Ezreal.png">
                </div>
                <div class="champ-name">
                     <a href="{{=URL('default', 'Ezreal')}}">Ezreal</a>
                </div>
            </div>

            <div class="Fiddlesticks">
                <div class="champ-image">
                     <img src="../static/images/icon/Fiddlesticks.png">
                </div>
                <div class="champ-name">
                     <a href="{{=URL('default', 'Fiddlesticks')}}">Fiddlesticks</a>
                </div>
            </div>

            <div class="Fiora">
                <div class="champ-image">
                     <img src="../static/images/icon/Fiora.png">
                </div>
                <div class="champ-name">
                     <a href="{{=URL('default', 'Fiora')}}">Fiora</a>
                </div>
            </div>

            <div class="Fizz">
                <div class="champ-image">
                     <img src="../static/images/icon/Fizz.png">
                </div>
                <div class="champ-name">
                     <a href="{{=URL('default', 'Fizz')}}">Fizz</a>
                </div>
            </div>

            <div class="Galio">
                <div class="champ-image">
                     <img src="../static/images/icon/Galio.png">
                </div>
                <div class="champ-name">
                     <a href="{{=URL('default', 'Galio')}}">Galio</a>
                </div>
            </div>

            <div class="Gangplank">
                <div class="champ-image">
                     <img src="../static/images/icon/Gangplank.png">
                </div>
                <div class="champ-name">
                     <a href="{{=URL('default', 'Gangplank')}}">Gangplank</a>
                </div>
            </div>
   
    </div>
    

 

         
</div>



<script src="{{=URL('static', 'js/default_index.js')}}"></script>